<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if name %}
    <h1>HI HI HI {{ name }}</h1>
    {% else %}
    <h1>HI DUDE</h1>
    {% endif %}
    
    {{ result }}
    
    <ul>
        {% for product in products %}
        {% comment %} <li>{{ product.title }}</li> {% endcomment %}
        {% comment %} <li>{{ product }}</li> {% endcomment %}
        {% comment %} <li>{{ product.customer__first_name }} - {{ product.product__title }}</li> {% endcomment %}
        {% comment %} <li>{{ product.customer.first_name }}</li> {% endcomment %}
        <li> {{ product.id }} - {{ product.customer.first_name }} - {{ product.customer_id }} </li>

        {% endfor %}        
    </ul>

</body>
</html>